<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.board.boardMapper">

	<select id="getBoardList"
		parameterType="com.spring.board.form.BoardForm"
		resultType="com.spring.board.dto.BoardDto">
		SELECT seq
		, re_ref
		, re_lev
		, re_seq
		, writer
		, subject
		, content
		, hits
		, del_yn
		, insertid
		, passwd
		, DATE_FORMAT(regdate, '%Y-%m-%d') AS regdate
		, updateid
		, CAST(updatedate AS DATETIME) as updatedate
		FROM board
		ORDER BY seq DESC
	</select>
	
	<delete id="updateBoardHits" parameterType="com.spring.board.form.BoardForm">
		UPDATE board
		   SET hits = hits + 1,
		       updateid = 'NONMEMBER',
		       updatedate = NOW()
		 WHERE seq = #{seq}
	</delete>
	
	
	<select id="getBoardDetail" parameterType="com.spring.board.form.BoardForm" resultType="com.spring.board.dto.BoardDto">
			SELECT seq
		,  re_ref
		,  re_lev
		,  re_seq
		,  writer
		,  subject
		,  content
		,  hits
		,  del_yn
		,  insertid
		,  regdate
		,  updateid
		,  updatedate
	    FROM board
	    WHERE seq = #{seq}
	</select>
	
	<insert id="insertBoard" parameterType="com.spring.board.form.BoardForm">
	
	INSERT INTO board
	
	(
	  re_ref
	, re_lev
	, seq
	, writer
	, subject
	, content
	, insertid
	, passwd
	, date
	, updateid
	, updatedate
	)
	
	VALUES
	
	(
	  0
	, 0
	, 0
	, #{board_writer}
	, #{board_subject}
	, #{board_content}
	, 'NONMEMBER'
	, NOW()
	, 'NONMEMBER'
	, NOW()
	
	)
		
	</insert>
	
	<delete id="deleteBoard" parameterType="com.spring.board.form.BoardForm">
	
		DELETE FROM board
		WHERE seq = #{board_seq}
		
	</delete>
	
	<update id="updateBoard" parameterType="com.spring.board.form.BoardForm">
	
		UPDATE board
		
		SET
		
		  subject = #{board_subject}
		, content = #{board_content}
		, insertid = 'NONMEMBER'
		, updatedate = NOW()
		WHERE seq = #{seq}
	</update>
</mapper>

