<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.heegene.web.board.boardMapper">
	<select id="getBoardList"
		resultType="com.heegene.web.board.dto.BoardDto">
		<![CDATA[
		SELECT bid, cate_cd, title, content, tag, view_cnt, reg_id, reg_dt, edit_et
		FROM 
				(
				SELECT rownum AS rownum, bid, cate_cd, title, content, tag, view_cnt,reg_id, reg_dt, edit_et
				FROM
						(SELECT * FROM tbl_board
						 ORDER BY bid DESC)
			    WHERE rownum >= #{startList})
			    
		WHERE rownum <= #{listSize}
		]]>
	</select>
 	
 	
 
 	<select id="getBoardContent" resultType="com.heegene.web.board.dto.BoardDto">
 		SELECT
 				bid,
 				cate_cd,
 				title,
 				content,
 				tag,
 				view_cnt,
 				reg_id,
 				reg_dt,
 				edit_dt
 		FROM tbl_board
 		WHERE   bid = #{bid}
 	</select>
 	
 	<insert id="insertBoard" parameterType="com.heegene.web.board.dto.BoardDto">
 		INSERT INTO tbl_board
			 		(
			 		 cate_cd,
			 		 title,
			 		 content,
			 		 tag,
			 		 view_cnt,
			 		 reg_id,
			 		 reg_dt,
			 		 edit_dt
			 		)
			 		
			 		VALUES
			 		(
			 		  '해당없음'
			 		 , #{title}
			 		 , #{content}
			 		 , #{tag}
			 		 , 0
			 		 , #{reg_id}
			 		 , sysdate
			 		 , sysdate
			 		)
 	</insert>
 	
 	<update id="updateBoard" parameterType="com.heegene.web.board.dto.BoardDto">
 		UPDATE tbl_board SET
  					  title = #{title}
 					, content = #{content}
 					, tag = #{tag}
 					, edit_dt = sysdate
 	    WHERE
 	    			bid = #{bid}
 	</update>
	
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM tbl_board
		WHERE bid = #{bid}
	</delete>
	
	<update id="updateViewCnt" parameterType="com.heegene.web.board.dto.BoardDto">
		UPDATE tbl_board SET
				view_cnt = view_cnt + 1
		WHERE   bid = #{bid}
	</update>
	
	
	<select id="getBoardListCnt" resultType="int">
		SELECT count(*) AS listCnt
		FROM tbl_board
	</select> 		
 </mapper>