<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!-- xml 네임스페이스 명시 -->
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<!--  Header -->

<div th:insert="common/header.html" id="header"></div>
<!-- jsp의 include와 동일한 기능 -->

<a th:href="@{/post}">글쓰기</a>
<!--  @ 경로는 어플리케이션 설치경로 기준으로 하는 상대경로(http://localhost:8185/post 와 같은 기능 -->

<table>
	<thead>
		<tr>
			<th class="one wide"> 번호 </th>
			<th class="ten wide"> 제목 </th>
			<th class="two wide"> 작성자 </th>
			<th class="three wide"> 작성일 </th>
		</tr>
	</thead>
	
	<tbody>
		<!-- Contents -->
		<tr th:each="board : ${boardList}">
			<td>
				<span th:text="${board.id}"></span>
			</td>
			<td>
				<a th:href="@{'/post/' + ${board.id}}">
					<span th:text="${board.title}"></span>
				</a>
			</td>
			<td>
				<span th:text="${board.writer}"></span>
			</td>
			<td>
				<span th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
			</td>
		</tr>
	</tbody>
</table>

<!-- search -->
<form action="/board/search" method="GET">
	<div>
		<input name="keyword" type="text" placeholder="검색어를 입력하세요">
	</div>
	<button>검색하기</button>
</form>

<!-- pagination 구현부-->
<div>
	<span th:each="pageNum : ${pageList}" th:inline="text">
		<a th:href="@{'/?page=' + ${pageNum}}">[[${pageNum}]]</a>
	</span>
</div> 

<!-- footer -->
<div th:insert="common/footer.html" id="footer"></div>

</body>
</html>