<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<head>
<meta charset="UTF-8">
<title>MAIN</title>
<style type="text/css">
	body {
		text-align:center;
	}
</style>
</head>
<body>
	<h5> 메인 페이지 </h5>
	<hr>
	<a sec:authorize="isAnonymous()" th:href="@{/user/login}"> 로그인 </a>
	<!-- 익명 사용자일 경우 로그인, 회원가입 버튼 노출 -->
	<a sec:authorize="isAuthenticated()" th:href="@{/user/logout}"> 로그아웃 </a>
	<!-- 인증된 사용자일 경우 로그아웃 버튼 노출 -->
	<a sec:authorize="isAnonymous()" th:href="@{/user/signup}"> 회원가입 </a>
	<a sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/user/info}"> 내정보 </a>
	<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}"> 어드민 </a>
	<!--  특정 롤을 가진 사용자에게 특정 버튼 노출  -->
</body>
</html>